{{block "header" .}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XjMind</title>
    <link rel="stylesheet" href="/res/css/bootstrap.min.css">
    <link rel="stylesheet" href="/res/css/app.css">
</head>

<body>
    <div class="rst">
        <div class="c p" style="max-width: 250px;">
            <div class="m">
                <img src="/res/img/person.svg" alt="person">
            </div>
            <ul class="nav nav-list">
                <li class="nav-header">
                    XjMind
                </li>
                <li {{if eq .RelPath "/login.html"}}class="active"{{end}}>
                    <a href="/login.html">Login / Register</a>
                </li>
                <li class="divider"></li>
                <li {{if eq .RelPath "/create.html"}}class="active"{{end}}>
                    <a href="/create.html">Create</a>
                </li>
                <li {{if eq .RelPath "/template.html"}}class="active"{{end}}>
                    <a href="/template.html">Template</a>
                </li>
                <li {{if eq .RelPath "/open.html"}}class="active"{{end}}>
                    <a href="/open.html">Open</a>
                </li>

                <li class="divider"></li>
                <li class="nav-header">
                    My Works
                </li>
                <li {{if eq .RelPath "/files.html"}}class="active"{{end}}>
                    <a href="/files.html">Files</a>
                </li>
                <li {{if eq .RelPath "/library.html"}}class="active"{{end}}>
                    <a href="/library.html">Library</a>
                </li>
                <li {{if eq .RelPath "/groups.html"}}class="active"{{end}}>
                    <a href="/groups.html">Groups</a>
                </li>
                <li class="divider"></li>
                <li {{if eq .RelPath "/community.html"}}class="active"{{end}}>
                    <a href="/community.html">Community</a>
                </li>
                <li class="divider"></li>
                <li class="nav-header">
                    Settings
                </li>
                <li {{if eq .RelPath "/trash.html"}}class="active"{{end}}>
                    <a href="/trash.html">Recently Deleted</a>
                </li>
                <li {{if eq .RelPath "/settings.html"}}class="active"{{end}}>
                    <a href="/settings.html">Settings</a>
                </li>
                <li {{if eq .RelPath "/premium.html"}}class="active"{{end}}>
                    <a href="/premium.html">Buy Premium</a>
                </li>
                <li {{if eq .RelPath "/invite.html"}}class="active"{{end}}>
                    <a href="/invite.html">Invite Friends</a>
                </li>
                <li {{if eq .RelPath "/contact.html"}}class="active"{{end}}>
                    <a href="/contact.html">Contact</a>
                </li>
                <li>
                    <a href="https://xjmind.com">Help</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="https://xjmind.com">Download Client</a>
                </li>
            </ul>
        </div>
        {{end}}

        {{block "footer" .}}
    </div>
    <script src="/res/js/jquery.js"></script>
    <script src="/res/js/bootstrap.min.js"></script>
</body>

</html>
{{end}}